::v-deep .switch .el-switch__label {
  position: absolute;
  display: none;
  color: #fff !important;
}

/*打开时文字位置设置*/
::v-deep .switch .el-switch__label--right {
  z-index: 1;
}

/* 调整打开时文字的显示位子 */
::v-deep .switch .el-switch__label--right span {
  margin-left: 9px;
}

/*关闭时文字位置设置*/
::v-deep .switch .el-switch__label--left {
  z-index: 1;
}

/* 调整关闭时文字的显示位子 */
::v-deep .switch .el-switch__label--left span {
  margin-left: 22px;
}

/*显示文字*/
::v-deep .switch .el-switch__label.is-active {
  display: block;
}

/* 调整按钮的宽度 */
::v-deep .switch.el-switch .el-switch__core,.el-switch .el-switch__label {
  width: 60px !important;
  margin: 0;
}
